<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{user/base::layout(~{::title},~{::section})}">

<head>
	<meta charset="ISO-8859-1">
	<title>Settings</title>
</head>

<body>

	<section>
		<div class="container">
			<div class="row">

				<div class=" col-md-10 offset-md-1 ">
					<div class="card mb-2">

						<div class="header  mt-3 mb-0 font-family text-center border-white">
							<h3>Change Password</h3>
						</div>

						<div class="card-body">

							<form th:action="@{/user/changingPassword}" method="post" 
								class="needs-validation" novalidate>


								<div class="col-md-10 offset-md-1 mb-3">
									<div class="input-group">
										<i class="fa-solid fa-user fa input-group-text bg-white border-white"></i>
										<input type="password" class="form-control form-controls" name="password" id="password"
											placeholder="Enter Old Password" required 
											autocomplete="off">
										<div class="invalid-feedback">
											<small class="small">Please enter old password</small>
										</div>
									</div>
								</div>
								
								<div class="col-md-10 offset-md-1 mb-3">
									<div class="input-group">
										<i class="fa-solid fa-key fa input-group-text bg-white border-white"></i>
										<input type="password" class="form-control form-controls" name="cpassword" id="cpassword"
											placeholder="Enter New Password" required 
											autocomplete="off">
										<div class="invalid-feedback">
											<small class="small">Please enter new password</small>
										</div>
									</div>
								</div>



								



							
								<div class="text-center">
									<button class="btn btn-outline-info btn-sm" type="submit">CHANGE
										</button>
										<button class="btn btn-outline-warning btn-sm" type="reset">RESET
										</button>

								</div>
							</form>
						</div>


					</div>
				</div>
			</div>
		</div>


		

		<script>

			// Example starter JavaScript for disabling form submissions if there are invalid fields
			(function () {
				'use strict'

				// Fetch all the forms we want to apply custom Bootstrap validation styles to
				var forms = document.querySelectorAll('.needs-validation')

				// Loop over them and prevent submission
				Array.prototype.slice.call(forms)
					.forEach(function (form) {
						form.addEventListener('submit', function (event) {
							if (!form.checkValidity()) {
								event.preventDefault()
								event.stopPropagation()
							}

							form.classList.add('was-validated')
						}, false)
					})
			})()

		</script>

		<script>
			$(document).ready(() => {
				$('.item').removeClass('active');
				$('#setting').addClass('active');

			});




		</script>


	</section>
</body>

</html>