<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::title},~{::section})}">

<head>
	<meta charset="ISO-8859-1">
	<title>Forgot Password</title>
</head>

<body>

	<section>
		<div class="container py-5">
			<div class="row">
				<div th:if="${session.message}" th:classappend="${session.message.type}"
					class="alert  m-1 p-2 text-center font-family" role="alert" th:text="${session.message.content}">
				</div>
				<th:block th:text="${@userService.removeMsg()}"></th:block>

				<div class=" col-md-8 offset-md-2 ">
					<div class="card mb-2">

						<div class="header  mt-3 mb-0 font-family text-center border-white">
							<h3>Your Registered Email</h3>
						</div>

						<div class="card-body">

							<form th:action="@{/send-otp}" method="post">


								<div class="col-md-8 offset-md-2 mb-3">
									<div class="input-group">
										<i class="fa-solid fa-at fa input-group-text bg-white border-white"></i>
										<input type="email" class="form-control" name="email"
											placeholder="Enter email here" required autocomplete="off">

									</div>
								</div>



								<div class="text-center">
									<button class="btn btn-warning btn-sm" type="submit">SEND OTP
									</button>


								</div>
							</form>
						</div>


					</div>
				</div>
			</div>
		</div>









	</section>
</body>

</html>